<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.bmc.dao.interfaces.BlAcctInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfo" >
    <id column="ACCT_ID" property="acctId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="OWNER_TYPE" property="ownerType" jdbcType="VARCHAR" />
    <result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR" />
    <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
    <result column="ACCT_TYPE" property="acctType" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ACCT_ID, TENANT_ID, OWNER_TYPE, OWNER_ID, ACCT_NAME, ACCT_TYPE, CREATE_TIME, COMMENTS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bl_acct_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bl_acct_info
    where ACCT_ID = #{acctId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bl_acct_info
    where ACCT_ID = #{acctId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfoCriteria" >
    delete from bl_acct_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfo" >
    insert into bl_acct_info (ACCT_ID, TENANT_ID, OWNER_TYPE, 
      OWNER_ID, ACCT_NAME, ACCT_TYPE, 
      CREATE_TIME, COMMENTS)
    values (#{acctId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{ownerType,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=VARCHAR}, #{acctName,jdbcType=VARCHAR}, #{acctType,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfo" >
    insert into bl_acct_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="ownerType != null" >
        OWNER_TYPE,
      </if>
      <if test="ownerId != null" >
        OWNER_ID,
      </if>
      <if test="acctName != null" >
        ACCT_NAME,
      </if>
      <if test="acctType != null" >
        ACCT_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null" >
        #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null" >
        #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfoCriteria" resultType="java.lang.Integer" >
    select count(*) from bl_acct_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bl_acct_info
    <set >
      <if test="record.acctId != null" >
        ACCT_ID = #{record.acctId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerType != null" >
        OWNER_TYPE = #{record.ownerType,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null" >
        OWNER_ID = #{record.ownerId,jdbcType=VARCHAR},
      </if>
      <if test="record.acctName != null" >
        ACCT_NAME = #{record.acctName,jdbcType=VARCHAR},
      </if>
      <if test="record.acctType != null" >
        ACCT_TYPE = #{record.acctType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comments != null" >
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bl_acct_info
    set ACCT_ID = #{record.acctId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      OWNER_TYPE = #{record.ownerType,jdbcType=VARCHAR},
      OWNER_ID = #{record.ownerId,jdbcType=VARCHAR},
      ACCT_NAME = #{record.acctName,jdbcType=VARCHAR},
      ACCT_TYPE = #{record.acctType,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfo" >
    update bl_acct_info
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="ownerType != null" >
        OWNER_TYPE = #{ownerType,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null" >
        OWNER_ID = #{ownerId,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="acctType != null" >
        ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where ACCT_ID = #{acctId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlAcctInfo" >
    update bl_acct_info
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      OWNER_TYPE = #{ownerType,jdbcType=VARCHAR},
      OWNER_ID = #{ownerId,jdbcType=VARCHAR},
      ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      ACCT_TYPE = #{acctType,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where ACCT_ID = #{acctId,jdbcType=VARCHAR}
  </update>
</mapper>