<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.bmc.dao.interfaces.BlUserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.bmc.dao.mapper.bo.BlUserinfo" >
    <id column="SUBS_ID" property="subsId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="ACCT_ID" property="acctId" jdbcType="VARCHAR" />
    <result column="SERVICE_ID" property="serviceId" jdbcType="VARCHAR" />
    <result column="DEAL_TIME" property="dealTime" jdbcType="TIMESTAMP" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CHL_ID" property="chlId" jdbcType="VARCHAR" />
    <result column="DEV_ID" property="devId" jdbcType="VARCHAR" />
    <result column="ACTIVE_TIME" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="INACTIVE_TIME" property="inactiveTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="SERV_TYPE" property="servType" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="USER_STATE" property="userState" jdbcType="VARCHAR" />
    <result column="policy_id" property="policyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SUBS_ID, TENANT_ID, CUST_ID, ACCT_ID, SERVICE_ID, DEAL_TIME, PROVINCE_CODE, CITY_CODE, 
    CHL_ID, DEV_ID, ACTIVE_TIME, INACTIVE_TIME, REMARK, SERV_TYPE, USER_TYPE, USER_STATE, 
    policy_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfoCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bl_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bl_userinfo
    where SUBS_ID = #{subsId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bl_userinfo
    where SUBS_ID = #{subsId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfoCriteria" >
    delete from bl_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfo" >
    insert into bl_userinfo (SUBS_ID, TENANT_ID, CUST_ID, 
      ACCT_ID, SERVICE_ID, DEAL_TIME, 
      PROVINCE_CODE, CITY_CODE, CHL_ID, 
      DEV_ID, ACTIVE_TIME, INACTIVE_TIME, 
      REMARK, SERV_TYPE, USER_TYPE, 
      USER_STATE, policy_id)
    values (#{subsId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{acctId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}, 
      #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{chlId,jdbcType=VARCHAR}, 
      #{devId,jdbcType=VARCHAR}, #{activeTime,jdbcType=TIMESTAMP}, #{inactiveTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{servType,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, 
      #{userState,jdbcType=VARCHAR}, #{policyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfo" >
    insert into bl_userinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subsId != null" >
        SUBS_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="serviceId != null" >
        SERVICE_ID,
      </if>
      <if test="dealTime != null" >
        DEAL_TIME,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="chlId != null" >
        CHL_ID,
      </if>
      <if test="devId != null" >
        DEV_ID,
      </if>
      <if test="activeTime != null" >
        ACTIVE_TIME,
      </if>
      <if test="inactiveTime != null" >
        INACTIVE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="servType != null" >
        SERV_TYPE,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="userState != null" >
        USER_STATE,
      </if>
      <if test="policyId != null" >
        policy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subsId != null" >
        #{subsId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null" >
        #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="chlId != null" >
        #{chlId,jdbcType=VARCHAR},
      </if>
      <if test="devId != null" >
        #{devId,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inactiveTime != null" >
        #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="servType != null" >
        #{servType,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        #{policyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfoCriteria" resultType="java.lang.Integer" >
    select count(*) from bl_userinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bl_userinfo
    <set >
      <if test="record.subsId != null" >
        SUBS_ID = #{record.subsId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        CUST_ID = #{record.custId,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId != null" >
        ACCT_ID = #{record.acctId,jdbcType=VARCHAR},
      </if>
      <if test="record.serviceId != null" >
        SERVICE_ID = #{record.serviceId,jdbcType=VARCHAR},
      </if>
      <if test="record.dealTime != null" >
        DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      </if>
      <if test="record.chlId != null" >
        CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      </if>
      <if test="record.devId != null" >
        DEV_ID = #{record.devId,jdbcType=VARCHAR},
      </if>
      <if test="record.activeTime != null" >
        ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inactiveTime != null" >
        INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.servType != null" >
        SERV_TYPE = #{record.servType,jdbcType=VARCHAR},
      </if>
      <if test="record.userType != null" >
        USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      </if>
      <if test="record.userState != null" >
        USER_STATE = #{record.userState,jdbcType=VARCHAR},
      </if>
      <if test="record.policyId != null" >
        policy_id = #{record.policyId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bl_userinfo
    set SUBS_ID = #{record.subsId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      CUST_ID = #{record.custId,jdbcType=VARCHAR},
      ACCT_ID = #{record.acctId,jdbcType=VARCHAR},
      SERVICE_ID = #{record.serviceId,jdbcType=VARCHAR},
      DEAL_TIME = #{record.dealTime,jdbcType=TIMESTAMP},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=VARCHAR},
      CHL_ID = #{record.chlId,jdbcType=VARCHAR},
      DEV_ID = #{record.devId,jdbcType=VARCHAR},
      ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      SERV_TYPE = #{record.servType,jdbcType=VARCHAR},
      USER_TYPE = #{record.userType,jdbcType=VARCHAR},
      USER_STATE = #{record.userState,jdbcType=VARCHAR},
      policy_id = #{record.policyId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfo" >
    update bl_userinfo
    <set >
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null" >
        ACCT_ID = #{acctId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null" >
        SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="chlId != null" >
        CHL_ID = #{chlId,jdbcType=VARCHAR},
      </if>
      <if test="devId != null" >
        DEV_ID = #{devId,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        ACTIVE_TIME = #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inactiveTime != null" >
        INACTIVE_TIME = #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="servType != null" >
        SERV_TYPE = #{servType,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        USER_STATE = #{userState,jdbcType=VARCHAR},
      </if>
      <if test="policyId != null" >
        policy_id = #{policyId,jdbcType=VARCHAR},
      </if>
    </set>
    where SUBS_ID = #{subsId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ai.baas.bmc.dao.mapper.bo.BlUserinfo" >
    update bl_userinfo
    set TENANT_ID = #{tenantId,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      ACCT_ID = #{acctId,jdbcType=VARCHAR},
      SERVICE_ID = #{serviceId,jdbcType=VARCHAR},
      DEAL_TIME = #{dealTime,jdbcType=TIMESTAMP},
      PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CHL_ID = #{chlId,jdbcType=VARCHAR},
      DEV_ID = #{devId,jdbcType=VARCHAR},
      ACTIVE_TIME = #{activeTime,jdbcType=TIMESTAMP},
      INACTIVE_TIME = #{inactiveTime,jdbcType=TIMESTAMP},
      REMARK = #{remark,jdbcType=VARCHAR},
      SERV_TYPE = #{servType,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      USER_STATE = #{userState,jdbcType=VARCHAR},
      policy_id = #{policyId,jdbcType=VARCHAR}
    where SUBS_ID = #{subsId,jdbcType=VARCHAR}
  </update>
</mapper>