<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ai.baas.bmc.dao.interfaces.SmcPriceDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetail" >
    <result column="SYSTEM_ID" property="systemId" jdbcType="VARCHAR" />
    <result column="TENANT_ID" property="tenantId" jdbcType="VARCHAR" />
    <result column="PRICE_ID" property="priceId" jdbcType="VARCHAR" />
    <result column="DETAIL_ID" property="detailId" jdbcType="VARCHAR" />
    <result column="FILTER_ID" property="filterId" jdbcType="VARCHAR" />
    <result column="BASE_ID" property="baseId" jdbcType="VARCHAR" />
    <result column="ACTIVE_TIME" property="activeTime" jdbcType="TIMESTAMP" />
    <result column="INACTIVE_TIME" property="inactiveTime" jdbcType="TIMESTAMP" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SYSTEM_ID, TENANT_ID, PRICE_ID, DETAIL_ID, FILTER_ID, BASE_ID, ACTIVE_TIME, INACTIVE_TIME, 
    COMMENTS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetailCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from smc_price_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetailCriteria" >
    delete from smc_price_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetail" >
    insert into smc_price_detail (SYSTEM_ID, TENANT_ID, PRICE_ID, 
      DETAIL_ID, FILTER_ID, BASE_ID, 
      ACTIVE_TIME, INACTIVE_TIME, COMMENTS
      )
    values (#{systemId,jdbcType=VARCHAR}, #{tenantId,jdbcType=VARCHAR}, #{priceId,jdbcType=VARCHAR}, 
      #{detailId,jdbcType=VARCHAR}, #{filterId,jdbcType=VARCHAR}, #{baseId,jdbcType=VARCHAR}, 
      #{activeTime,jdbcType=TIMESTAMP}, #{inactiveTime,jdbcType=TIMESTAMP}, #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetail" >
    insert into smc_price_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="systemId != null" >
        SYSTEM_ID,
      </if>
      <if test="tenantId != null" >
        TENANT_ID,
      </if>
      <if test="priceId != null" >
        PRICE_ID,
      </if>
      <if test="detailId != null" >
        DETAIL_ID,
      </if>
      <if test="filterId != null" >
        FILTER_ID,
      </if>
      <if test="baseId != null" >
        BASE_ID,
      </if>
      <if test="activeTime != null" >
        ACTIVE_TIME,
      </if>
      <if test="inactiveTime != null" >
        INACTIVE_TIME,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="systemId != null" >
        #{systemId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        #{tenantId,jdbcType=VARCHAR},
      </if>
      <if test="priceId != null" >
        #{priceId,jdbcType=VARCHAR},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=VARCHAR},
      </if>
      <if test="filterId != null" >
        #{filterId,jdbcType=VARCHAR},
      </if>
      <if test="baseId != null" >
        #{baseId,jdbcType=VARCHAR},
      </if>
      <if test="activeTime != null" >
        #{activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inactiveTime != null" >
        #{inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ai.baas.bmc.dao.mapper.bo.SmcPriceDetailCriteria" resultType="java.lang.Integer" >
    select count(*) from smc_price_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update smc_price_detail
    <set >
      <if test="record.systemId != null" >
        SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null" >
        TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      </if>
      <if test="record.priceId != null" >
        PRICE_ID = #{record.priceId,jdbcType=VARCHAR},
      </if>
      <if test="record.detailId != null" >
        DETAIL_ID = #{record.detailId,jdbcType=VARCHAR},
      </if>
      <if test="record.filterId != null" >
        FILTER_ID = #{record.filterId,jdbcType=VARCHAR},
      </if>
      <if test="record.baseId != null" >
        BASE_ID = #{record.baseId,jdbcType=VARCHAR},
      </if>
      <if test="record.activeTime != null" >
        ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.inactiveTime != null" >
        INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.comments != null" >
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update smc_price_detail
    set SYSTEM_ID = #{record.systemId,jdbcType=VARCHAR},
      TENANT_ID = #{record.tenantId,jdbcType=VARCHAR},
      PRICE_ID = #{record.priceId,jdbcType=VARCHAR},
      DETAIL_ID = #{record.detailId,jdbcType=VARCHAR},
      FILTER_ID = #{record.filterId,jdbcType=VARCHAR},
      BASE_ID = #{record.baseId,jdbcType=VARCHAR},
      ACTIVE_TIME = #{record.activeTime,jdbcType=TIMESTAMP},
      INACTIVE_TIME = #{record.inactiveTime,jdbcType=TIMESTAMP},
      COMMENTS = #{record.comments,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>